<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.project.promotion.member.model.mapper.MemberMapper">

	<!-- 회원가입 시 이메일 중복 검사 -->
	<select id="checkEmail">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEM_DEL_FL = 'N'
	</select>
	
	<!-- 회원가입 시 이메일 중복 검사 (탈퇴한 회원 중) -->
	<select id="checkDelEmail">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND MEM_DEL_FL = 'Y'
	</select>
	
	<!-- 회원 가입 -->
	<insert id="signUp">
		INSERT INTO "MEMBER"
		VALUES(SEQ_MEMBER_NO.NEXTVAL,
			#{memberEmail},
			#{memberPw},
			#{memberNickname},
			#{memberTel},
			NULL,
			DEFAULT,
			DEFAULT,
			DEFAULT
		)
	</insert>

</mapper>
