<div id="navbar">

    <!-- 로고 부분 클릭 시 홈으로 이동 -->
    <div id="leftSection">
        
    </div>

    <!-- 로고 옆 li 태그 -->
    <div id="middleSection">
        <ul>
            <a href="#">
                <li>게시판</li>
            </a>
        </ul>
    </div>

    <div id="rightSection">
        <ul>
            <a href="/member/signUpMain">
                <li>회원가입</li>
            </a>
            <a href="#">
                <li>로그인</li>
            </a>
        </ul>
    </div>
</div>

<script th:inline="javascript">
    const message =  /*[[${message}]]*/ "전달 받은 message";
  
    if(message != null) alert(message);
</script>